@model List<Country>

@{
    ViewData["Title"] = "Country List";
}

<div class="wrapper">
    <div class="container">
        <h2 class="mt-4">Countries List</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                        </th>
                        <th>Population</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Continent</th>
                        <th>Capital</th>
                        <th>Area</th>
                        <th>Currency</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var country in Model)
                    {
                        <tr>


                            <td>
                                <a
                                    href="@Url.Action("Detail", "Home", new { countryName = country.Name })">@country.Name</a>
                            </td>
                            <td>@country.Population</td>
                            <td>@country.Latitude</td>
                            <td>@country.Longitude</td>
                            <td>@country.Continent</td>
                            <td>@country.Capital</td>
                            <td>@country.Area</td>
                            <td>@country.Currency</td>
                            <td>@country.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>


<style>
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100dvh;
        color: white;
    }

    .table {
        background-color: white;
    }
</style>
